.cartContainer {
    background-color: rgb(217, 217, 255);
    border-radius: 5px;
}

.cartBookbox {
    border: 1px solid brown;
    text-align: left;
    font-size: 0.75em;
    height: 120px;
    line-height: 0.9;
}

.delete {
    font-size: 20px;
    float: right;
}
p {
    margin: 7px;
}

h4 {
    margin: 7px;
}

.quantity {
    width: 100px;
    font-size: 12px;
    display: inline-block;
    float: left;
    clear: left;
    margin: auto;
}

input {
  display: inline-block;
  float: right;
}
