@import url('https://fonts.googleapis.com/css?family=Acme');


.bookbox {
    display: flex;
    width: 97%;
    border: 1px solid #0C0C5E;
    border-radius: 8px;
    padding: 10px;
    font-family: 'Acme', sans-serif;
    text-align: left;
    
}

.bookboxText {
    display: inline-block;
    padding: 15px 15px 0 15px;
    flex: 4;

}

.bookPic {
    /* position: absolute; */
    display: inline-block;
    flex: 2;
    margin-left: 10%;

}

