.cartContainer {
    background-color: rgb(238, 238, 253);
    border-radius: 5px;
    min-width: 130px;;

}

.cartBookbox {
    position: relative;
    text-align: left;
    font-size: 0.75em;
    height: 140px;
    line-height: 0.9;
    border-bottom: 1px solid rgb(207, 179, 208);


}

.delete {
    font-size: 20px;
    float: right;
    color: red;
    cursor: pointer;

}
p {
    margin: 7px;
}

h4 {
    margin: 7px;
    line-height: 1.1;
}

.quantity {
    position: relative;
    width: 100px;
    font-size: 12px;
    display: inline-block;
    clear: left;
    margin-left: 20px;
}

.update {
margin: 3px;
cursor: pointer;
margin-left: 20px;
width: 104px;

}

input {
  display:block;
}

.validError {
    color: red
}

.faBookIcon {
    /* position: absolute; */
}