@import url('https://fonts.googleapis.com/css?family=Acme');

.search {
    width: 100%;
    font-family: 'Acme', sans-serif;
    min-width: 610px;

  }
  
  h2{
      font-size: 2em;
  }
  .false {
    margin-top: 3em;
   display: inline-block;
    width: 100%;
   
  }
  
  .true {
    width: 75%;
  }