
.bookbox {
    height: 15%;
    border: 1px solid black;
    margin-left: 20px;
}

.bookboxText {
    padding: 0 15px 0 15px;
    text-align: left;

}

.bookpic {
    display: block;
    right: 10px;
}