.storeHeader {
    background-color: #eee;
    width: 100%;
    margin: 0;

}
h2 {
    text-align: left;
    display: inline-block;
    width: 83%;
    margin: auto;
}

button {
    margin: auto
}

.cartContainer {
    position: absolute;
    right: 5%;
    top: 105%;
    width: 17%;
    border: 1px solid #111111;
}